{% extends 'base.html' %} {% block header %}
<h1>{% block title %}New Stock Alert{% endblock %}</h1>
{% endblock %} {% block content %}
<form method="post">
  <label for="symbol">Symbol</label>
  <input
    name="symbol"
    id="symbol"
    value="{{ request.form['symbol'] }}"
    required
  />
  <label for="p_up">Percentage Up</label>
  <input name="p_up" id="p_up" value="{{ request.form['p_up'] }}" required />
  <label for="p_down">Percentage Down</label>
  <input
    name="p_down"
    id="p_down"
    value="{{ request.form['p_down'] }}"
    required
  />
  <label for="link">Link</label>
  <textarea name="link" id="link">{{ request.form['link'] }}</textarea>
  <input type="submit" value="Save" />
</form>
{% endblock %}
